// Colors
$goldish: #be9359;
$lightgrey: #b1b1b1;
$grey: #8b8b8b;

// General
.pointer {
    cursor:pointer
}

i:hover {
    opacity: 0.5;
    transition: 0.5s;
}

button:hover,img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.my_btn {
    padding: 10px 40px;
    border-color: $goldish;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    color: $goldish;
    background: transparent;
}