// Colors
$goldish: #ffcf6a;
$lightgrey: #b0b0b0;
$grey: #69625c;
$brownish: #ae8652;
// --Colors
// General
.pointer {
    cursor:pointer
}

i:hover {
    opacity: 0.5;
    transition: 0.5s;
}

button:hover,img:not(.not_scale):hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.my_btn {
    padding: 10px 40px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    background: transparent;
}
.goldish_btn {
    border-color: $goldish;
    color: $goldish;
    opacity: 0.7;
}
.brownish_btn {
    border-color: $brownish;
    color: $brownish;
}
// --General