// Smartphone
@media screen and (max-width: 575px) {   
// Header
    #jumbotron {
            div {
                h1 {
                    font-size: 50px;
                    margin-top: 20px;
                }
            }

            img {
                max-width: 60%;
            }
    }
// --Header
    
// Main
    
    // General
        main {
                section {
                    h2 {
                        font-size: 50px;
                    }

                    h4 {
                        font-size: 25px;
                    }

                    .triangle {
                        height: 50px;
                    }
                }
        }
    // --General

    // Monthly Product
        #main-3 {
                .row {
                    #shaving-butter-img {
                        max-width: 99%;
                        padding: 0;
                    }
                }
        }
    // --Monthly Product

// --Main

// Footer
        #footer-top {
                img {
                    max-width: 90%;
                }
        }
    // --Footer
}
// --Smartphone

// Tablet portrait
@media screen and (max-width: 768px) {    
// Header
    #jumbotron {
            div {
                h1 {
                    font-size: 60px;
                    margin-top: 20px;
                }
            }
    }
// --Header

// Main

    // General
        main {
                section {
                    h2 {
                        font-size: 45px;
                    }

                    h4 {
                        font-size: 20px;
                    }

                    .triangle {
                        height: 75px;
                    }
                }
        }
    // --General

// --Main
}
// --Tablet portrait

// Tablet landscape and bigger displays
@media screen and (max-width: 991px) {    
// Top-right floating buttons
    #buttons {
        position: absolute;
        top: 60%;

        #demos,#sale {
            width: 50px;
            height: 60px;
            font-size: 11px;
        }
    }
// --Top-right floating buttons
}
// --Tablet landscape and bigger displays