// Smartphone specific
@media screen and (max-width: 575px) {
    
    // Header
        #jumbotron {
            div {
                h1 {
                    font-size: 50px;
                    margin-top: 20px;
                }
            }
        }

        #buttons {
            position: absolute;

            #demos,#sale {
                width: 50px;
                height: 60px;
                font-size: 12px;
            }
        }
    // --Header
    
    // Main
    
        // General
            main {
                section {
                    h2 {
                        font-size: 50px;
                    }

                    h4 {
                        font-size: 25px;
                    }

                    .triangle {
                        height: 50px;
                    }
                }
            }
        // --General

        // Monthly Product
            #main-3 {
                .row {
                    #shaving-butter-img {
                        max-width: 99%;
                        padding: 0;
                    }
                }
            }
        // --Monthly Product

    // --Main

    // Footer
            #footer-top {
                img {
                    max-width: 90%;
                }
            }
    // --Footer
}
// --Smartphone specific